/* cabecera */

#cabecera{
    width: 95%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 20px;
    z-index: 1000;
    top: 0;
    background: white;
    position: fixed;
}
#letmecook{
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 22px;
    margin-right: auto;
}
#letmecook a{
    text-decoration: none;
    text-align: center;
}

#letmecook a span{
    font-size: 28px;
    color: #ff7300;
}

#menu{
    display: flex;
    align-items: center;
    gap: 25px;
}

#menu a{
    text-decoration: none;
    font-size: 18px;
}

.naranja{
    background-color: transparent;
    color: #000000;
    padding: 3px 10px;
    font-size: 18px;
    text-align: center;
}
.naranja:hover{
    background-color: #ffe1c8;
    color: #ff7300;
    cursor: pointer;
}
.naranja:active{
    background-color: #fcb478;
    cursor: pointer;
}
.hamburguesa{
    display: none;
    font-size: 30px;
    cursor: pointer;
}

@media (max-width: 600px) {
    #menu {
        display: none;
        position: absolute;
        top: 70px;
        right: 0;
        background: white;
        width: 200px;
        flex-direction: column;
        padding: 20px;
        box-shadow: 0 20px 35px rgba(132, 0, 255, 0.1), 0 5px 15px rgba(174, 0, 255, 0.1);
    }
    .hamburguesa{
        display: block;
        color: #ff7300;
        margin-left: auto;
    }
    #menu a{
        padding: 10px 0;
    }
}

/* sección debajo de la cabecera */
#debajocabecera{
    background-color: #ff7300;
    color: white;
    margin-top: 70px;
    height: 150px;
    align-content: center;
    justify-items: center;
}
#debajocabecera div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
#debajocabecera div h3{
    font-weight: normal;
}

/* PAGINA DE CARTA */
/* sección de botones */
.botones{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-bottom: 10px;
    border-bottom: #e8e8e8 1px solid;
}
.botones a{
    background-color: whitesmoke;
    text-decoration: none;
    padding: 10px 15px;
    color: rgb(114, 114, 114);
    border-radius: 30px;
}
.botones a:hover{
    background-color: #ffe1c8;
    color: #ff7300;
}
.botones a:active{
    background-color: #fcb478;
    color: #ff7300;
}

/* sección de platos */
.platos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 30px 20px;
}
.tarjetitas{
    box-shadow: #000000 0px 0px 1px;
    border-radius: 10px;
    width: 400px;
    height: 400px;
    overflow: hidden;
}
.tarjetitas img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 250px;
    transition: transform 1s;
}
.tarjetitas img:hover{
    transform: scale(1.05);
}
.tarjetitas .contenido{
    padding: 0px 25px;
}

.tarjetitas .contenido .cabecera{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.tarjetitas:hover{
    color: #ff7300;
    box-shadow: #ff7300 0px 0px 15px;
    transition: 1s;
}

.precio{
    color: #ff7300;
    font-weight: bold;
    font-size: 20px;
}

.parte_menu{
    font-size: 38px;
    color: #ff7300;
    font-weight: bold;
    justify-self: center;
}



/*PAGINA DE RESERVAS Y PEDIDOS*/
/* sección de reservas y pedidos */
#pedidosreserva{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 40px;
    border-bottom: #e8e8e8 1px solid;
}
#pedidosreserva div{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: left;
    height: 100%;
}
#pedidosreserva div a{
    text-decoration: none;
    color: #ff7300;
    font-size: 18px;
    padding: 5px 10px;
}

.actual{
    border-bottom: #ff7300 2px solid;
    color: #ff7300;
    font-weight: bold;
}

/*FORMULARIO DE RESERVA Y PEDIDOS*/
#formulario{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 20px;
}

#formulario div{
    border: #e8e8e8 1px solid;
    border-radius: 10px;
    padding: 30px 40px;
    max-width: 700px;
    width: 100%;
}
#formulario div input, select, textarea{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: #e8e8e8 1px solid;
    border-radius: 5px;
}

#formulario div input[type="submit"],[type="button"]{
    background-color: #fea963;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
}
#formulario div input[type="submit"]:hover,[type="button"]:hover{
    background-color: #ff7300;
}
#formulario div input[type="submit"]:active,[type="button"]:active{
    box-shadow: #000000 0px 0px 3px;
}

#formulario div span{
    color: #ff7300;
}

/* PAGINA DE PEDIDO Y RESERVA REALIZADO */
#confirmacion{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 10px;
    margin-top: 100px;
}
#confirmacion div{
    border-radius: 10px;
    padding: 30px 40px;
    max-width: 400px;
    margin: 10px;
    justify-items: center;
    border: #ff7300 1px solid;
    color: #ff7300;
    box-shadow: #ff7300 0px 0px 15px;
}

#confirmacion div:hover{
    box-shadow: #ff7300 0px 0px 30px;
}

/* PAGINA DE AYUDA */
/*seccion de info*/

#info{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 10px;
}
#info div{
    box-shadow: #cfcece 0px 0px 5px;
    border-radius: 10px;
    padding: 30px 40px;
    max-width: 200px;
    width: 100%;
    margin: 10px;
    justify-items: center;
}

#info div h3{
    font-weight: bold;
    margin-bottom: 20px;
}


/* pie de página */
#piepagina{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: #ff7300;
    color: white;
    font-size: 15px;
    margin-top: 100px;
    padding: 30px 40px;
    bottom: 0;
}